
/*
Theme Name: Wepayout
Theme URI: http://Wepayout.com.br
Author: Handgran - Hudson Carolino
Author URI: http://handgran.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Wepayout
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (handgran Framework v1)
--------------------------------------------
**** VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINAS
**** EXTRAS
**** @MEDIA
*/

  *{
    margin: 0;
    padding: 0;
  }
  ul{
    padding: 0;
    list-style: none;
    margin:0;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding:0;
  }
  hr{
    border-color: #000;
  }
  

 
/*VARIÁVEIS*/
  :root{
    --hand_OpenSans:'Open Sans', sans-serif;
    --hand_Syncopate:'Syncopate', sans-serif;
  }

/*BODY*/
  body{
    font-family: var(--hand_OpenSans);
  }

/*TOPO*/
  header{
    background:#000000;
    min-height: 95px;
    padding: 30px 0 0;

  }
    header button{
      border: solid 1px #fff;
      background-color: #000;
      outline: none;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      position: absolute;
      right: 20px;
      top: 20px;
      padding: 0 7px;
      display: none;
    }
      header button span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
        border-radius: 5px;
      }
      header button img{
        display: block;
        width: 25px;
      }
    header figure{
    
    }
      header figure img{
    
      }
    header nav{
    
    }
      header nav ul{
        text-align: right;
      }
        header nav ul li{
          display: inline-block;
        }
          header nav ul li a{
            text-transform: uppercase;
            color: #fff;
            padding: 0px 15px;
            font-size: 17px;
            font-weight: 100;
          }
          header nav ul li a:hover{
            color:#fff;
          }

/*RODAPÉ*/
  footer{
    text-align: center;
    padding: 30px;
  }
    footer figure{
    
    }
      footer figure img{
        display: block;
        margin:0 auto 10px;
      }
    footer p{
     color: #9b9696;
     font-size: 13px;
    }
      footer p a{
        color: #9b9696;
        text-decoration: underline;
      }

/*HOME*/
  .pg-home{
    min-height: 100vh;
  }
    .pg-home section{
      padding-top: 70px;
    }
      .pg-home section h2{
        text-transform: uppercase;
        color: #000;
        font-size:35px;
        font-weight: bold;
      }
      .pg-home section ul{
        text-align: center;
        padding-top: 100px;
      }
        .pg-home section ul li{
          width: 100%;
          max-width: 23.1%;
          height: 140px;
          border: solid 1px;
          border-radius: 5px;
          display: inline-block;
          margin: 10px;
          position: relative;
        }
          .pg-home section ul li a{
            display: block;
            width: 100%;
            padding: 45px 35px 0;
            height: 140px;
          }
            .pg-home section ul li a figure{
      
            }
              .pg-home section ul li a figure img{
                display: block;
                max-width: 70%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              .pg-home section ul li a figure figcaption{
                display: none;
              }

/*CADASTRO*/
  .sectionForm{

  }
    .sectionForm .form{
      max-width: 550px;
      margin: 0 auto;
      padding-top: 60px;
    }
    .sectionForm .hand-title-form{
      font-size: 17px;
      color: #000;
      padding-bottom: 25px;
      display: block;
    } 
    .sectionForm .form_box span{
      font-weight: 700;
      font-size: 15px;
      color: #000;
      display: block;
      margin-bottom: 15px;
      margin-top: 50px;
    } 
    .sectionForm .hand-obs{
      font-style: italic;
      font-size: 12px;
      color: #000;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
      .sectionForm .hand-obs a{
        text-decoration: underline;
        color: #000;
      }
    .sectionForm .hand-text{
      font-size: 16px;
      color: #000;
      margin-bottom: 40px;
    }
      .sectionForm .form_box{
        padding-bottom: 20px;
      }
        .sectionForm .form_box .input_type{
        
        }
        .sectionForm .form_box .row{
    
        }
          .sectionForm .form_box .row .col-sm-8{
      
          }
            .sectionForm .input_type{
              padding: 5px;
            }
              .sectionForm .input_type label{
                color: #000;
                font-weight: 500;
                font-size: 14px;
                display: block;
                margin-bottom: 7px;
                margin-top: 25px;
              }
              .sectionForm .input_type.labelFormat label{
                color: #000;
                font-weight: bold;
                font-size: 14px;
              }
              .sectionForm .input_type input[type="text"]{
                display: block;
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: solid 1px #ccc;
                padding: 10px;
                outline: none;
              }
              .sectionForm .input_type textarea{
                outline: none;
                border-radius: 5px;
                border: solid 1px #ccc;
                display: block;
                width: 100%;
                max-width: 100%;
                height: 90px;
                margin: 25px 0 35px;
              }
              .sectionForm .input_type select{
                display: block;
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: solid 1px #ccc;
                padding: 10px;
                outline: none;
              }
              .sectionForm .input_type .type_Radio{
              }  
              .sectionForm .input_type.type_Radio input[type="radio"]{
              }
              .sectionForm .input_type.type_Radio label{
               color: #7f7f7f;
               position: relative;
               padding-left: 10px;
               cursor: pointer;
               display: inline-block;
                   margin: 0;
              }
              .sectionForm .input_type.type_Radio label:before{
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                border: solid 1px #7f7f7f;
                border-radius: 5px;
                background-color: #fff;
                position: absolute;
                left: -22px;
              }
              .sectionForm .input_type.type_Radio input[type="radio"]:checked ~ label{
                color: #000;
              } 
              .sectionForm .input_type.type_Radio input[type="radio"]:checked ~ label:before{
                background-image:url(../img/tick.png);
                background-position:center;
                background-repeat: no-repeat; 
                border: solid 1px #000;
              }

/*CLIENTE*/
  .pg-cliente{

  }

    .pg-cliente .containerFull>.row{
      padding: 50px 0;
    }
      .pg-cliente .containerFull>.row figure{

      }
        .pg-cliente .containerFull>.row figure img{
          display: block;
          width: 100%;
          max-width: 200px;
          height: auto;
        }
    .pg-cliente .containerFull nav{

    }
      .pg-cliente .containerFull nav .col-sm-7{
        text-align: right;
      }
        .pg-cliente .containerFull nav .col-sm-7 span{
          display: block;
          padding: 17px 0 0;
          text-transform: uppercase;
          font-size: 16px;
        }
          .pg-cliente .containerFull nav .col-sm-7 span strong{
            padding: 0 15px;
          }
        .pg-cliente .containerFull nav .col-sm-5 .formSerarch{
          width: 100%;
          float: right;
          max-width: 260px;
          position: relative;
         }
          .pg-cliente .containerFull nav .col-sm-5 input[type="text"]{
            height: 52px;
            border-radius: 5px;
            border: solid 1px #000;
            display: block;
            width: 100%;
            padding: 10px;
            outline: none;
          }
          .pg-cliente .containerFull nav .col-sm-5 input[type="submit"]{
            background-image: url(../img/search.png);
            background-color: transparent;
            color: transparent;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-position: 6px 15px;
            outline: none;
            background-repeat: no-repeat;
          }

    .pg-cliente{

    }
      .pg-cliente section{
        border: solid 1px;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        position: relative;
      } 
        .pg-cliente section.hand-title{
          border: none;
        } 
        .pg-cliente section .row{
         
        }
          .pg-cliente section .row .col-md-4{

          }
            .pg-cliente section .row .col-md-4 .input_edit{
              max-width: 49%;
              width: 100%;
              display: inline-block;
            }
              .pg-cliente section .row .col-md-4 strong{
                color: #000;
                font-size: 18px;
              }
              .pg-cliente section .row .input_edit.input_edit1{
                max-width: 30%;
              }
              .pg-cliente section .row .input_edit.input_edit2{
                max-width: 60%;
              }
              .pg-cliente section .row .input_edit.input_edit3{
              }
              .pg-cliente section .row .input_edit.input_edit4{
              
              }
              .pg-cliente section .row .input_edit.input_edit5{
               
              }
                .pg-cliente section .row .input_edit.input_edit5 input{
                  text-align: center;
                }
              .pg-cliente section .row .input_edit input{
                width: 100%;
                display: block;
                border: none;
                outline: none;
              }
          .pg-cliente section  button{
            background-color: transparent;
            border: none;
            background-image: url(../img/edit.png);
            width: 50px;
            height: 100%;
            position: absolute;
            right: 0px;
            background-repeat: no-repeat;
            top: 0;
            background-position: 15px 13px;
            outline: none;
            cursor: pointer;
            z-index: 9;
          }

/*DADOS CADASTRAIS*/
  .pg-dados-cadastrais{

  }
    .pg-dados-cadastrais section.cabecalho{
      padding-top: 85px;
      margin-bottom: 55px;
    }
      .pg-dados-cadastrais section.cabecalho figure{
      
      }
        .pg-dados-cadastrais section.cabecalho figure img{
          display: block;
          height: auto;
          max-width: 200px;
        }
      .pg-dados-cadastrais section.cabecalho div{
    
      }
        .pg-dados-cadastrais section.cabecalho div{
      
        }
          .pg-dados-cadastrais section.cabecalho div nav{
      
          } 
            .pg-dados-cadastrais section.cabecalho div nav ul{
              text-align: right;
            }
              .pg-dados-cadastrais section.cabecalho div nav ul li{
                display: inline-block;
              } 
                .pg-dados-cadastrais section.cabecalho div nav ul li a{
                  text-transform: uppercase;
                  color: #000;
                  padding: 0 15px;
                  font-size: 17px;
                }
      .pg-dados-cadastrais section.dados{
        padding-top: 20px;
      }
       button.btnSubmit{
        background: #000;
        text-align: center;
        color: #fff;
        display: block;
        margin: 0 auto;
        padding: 10px 40px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      input.btnSubmit{
        background: #000;
        text-align: center;
        color: #fff;
        display: block;
        margin: 0 auto;
        padding: 10px 40px;
        border-radius: 5px;
        border: none;
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 50px;
      }
        .pg-dados-cadastrais section.dados h6{
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 40px;
        }
        .pg-dados-cadastrais section.dados .row{
        
        }
          .pg-dados-cadastrais section.dados{
        
          }
            .pg-dados-cadastrais section.dados .hand-info{
              margin-bottom: 25px;
            }
              .pg-dados-cadastrais section.dados .hand-info h2{
                font-size: 15px;
                font-weight: bold;
                padding-bottom: 10px;
              }
              .pg-dados-cadastrais section.dados .hand-info span{
                color: #3E3E3E;
                font-size: 15px;
              }
              .pg-dados-cadastrais section.dados .hand-info span.espaco{
                padding-right: 10px;
              }

/*CADASTRO DE CLIENTES*/
  .pg-cadastro-clientes{

  }
  .pg-cadastro-clientes button.btnSubmit{
    background: #000;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 12px 12px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    margin-top: 5px;
    font-size: 12px;
  }
  .pg-cadastro-clientes p.nameArquive{
    padding-top: 17px;
  }
    .pg-cadastro-clientes h2.hand-title-page{
      padding-bottom: 50px;
    } 
    .pg-cadastro-clientes strong{
      font-size: 17px;
       padding-bottom: 10px;
       display: block;
    }
    .pg-cadastro-clientes hr{
      border-color: #ccc;
      width: 91%;
      margin: 0px 0 10px;
    }
    .pg-cadastro-clientes p{
      font-size: 12px;
     margin-top: 0;
    }
  .pg-cadastro-clientes .input_type{
    padding: 0 10px;
  }
    .pg-cadastro-clientes .input_type figure{
      border: solid 1px #ccc;
      border-radius: 5px;
      text-align: center;
      display: block;
      width: 100%;
      height: 87px;
      margin-top: 16px;
      line-height: 30px;
    }
      .pg-cadastro-clientes .input_type figure img{
  
      }
        .pg-cadastro-clientes .input_type figure figcaption{
  
        }
    .pg-cadastro-clientes .input_type label{
     font-size: 12px;
     margin-top: 0;
    }
    .pg-cadastro-clientes .input_type input[type="text"]{
      height: 40px;
      font-size: 12px;
      margin-bottom:35px;
    }

/*CADASTRO DE COLABORADORES*/
  .pg-cadastro-colaboradores{

  }
  .pg-cadastro-colaboradores button.btnSubmit{
    background: #000;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 12px 12px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    margin-top: 5px;
    font-size: 12px;
  }
  .pg-cadastro-colaboradores p.nameArquive{
    padding-top: 17px;
  }
    .pg-cadastro-colaboradores h2.hand-title-page{
      padding-bottom: 50px;
    } 
    .pg-cadastro-colaboradores strong{
      font-size: 17px;
       padding-bottom: 10px;
       display: block;
    }
    .pg-cadastro-colaboradores hr{
      border-color: #ccc;
      width: 91%;
      margin: 0px 0 10px;
    }
    .pg-cadastro-colaboradores p{
      font-size: 11px;
     margin-top: 0;
    }
  .pg-cadastro-colaboradores .input_type{
    padding: 0 10px;
  }
    .pg-cadastro-colaboradores .input_type figure{
      border: solid 1px #ccc;
      border-radius: 5px;
      text-align: center;
      display: block;
      width: 100%;
      height: 87px;
      margin-top: 16px;
      line-height: 30px;
    }
      .pg-cadastro-colaboradores .input_type figure img{
  
      }
        .pg-cadastro-colaboradores .input_type figure figcaption{
  
        }
    .pg-cadastro-colaboradores .input_type label{
     font-size: 12px;
     margin-top: 0;
    }
    .pg-cadastro-colaboradores .input_type input[type="text"]{
      height: 40px;
      font-size: 12px;
      margin-bottom:35px;
    }
    .pg-cadastro-colaboradores  button.btnSubmit{
      margin: 0;
    }


/*COPYRIGHT*/

/*ESTILOS GERAIS PARA AS PÁGINAS*/
  ::-webkit-scrollbar{ 
    background: #000;
    width: 7px;
  }

  /*::-webkit-scrollbar-button{ 
   background: #2178a3;
  }*/
  ::-webkit-scrollbar-thumb{ 
    background: #fff;
  }
  .hand-template-mobile{
    display: none;
  }
  .containerFull{
    width: 100%;
    max-width: 1204px;
    margin: 0 auto;
  }
  .containerLarge{
    width: 100%;
    max-width: 985px;
    margin: 0 auto;
  }
  .travaScroll{
    overflow: hidden;
  }
  h2.hand-title-page{
    font-weight: bold;
    color: #000;
    font-size: 35px;
    padding-top: 70px;
  }

/*EXTRAS*/

/*@MEDIA*/
  @media(max-width: 1250px){
    .containerFull{
      padding: 30px;
    }
    .pg-home section ul li {
      max-width: 31.1%;
    }
  }
  @media(max-width: 1080px){
    .pg-home section ul li {
        max-width: 30.1%;
    }
  } 
  @media(max-width: 991px){
    .hand-template-desktop{
      display: none;
    }
    .hand-template-mobile{
      display: block;
    }
    .pg-cliente section .row .input_edit.input_edit5 input{
      text-align: left;
    }
    .pg-cliente section .row .col-md-4 .input_edit{
      width: 100%;
      max-width: 100%;
    }
    .pg-cliente .containerFull nav .col-sm-7{
      text-align: left;
    }
    .pg-cliente .containerFull nav .col-sm-5 .formSerarch{
      float: initial;
       max-width: 100%;
    }
    .pg-cliente .containerFull>.row{
      padding: 15px 0;
    }
  }
  @media(max-width:768px){
    header button{
      display: block;
      z-index: 1;
    }
    .pg-home section ul li {
      max-width: 46.1%;
    }
    .pg-home section h2{
      text-align: center;
    }
    .pg-home section {
      padding-top: 10px;
    }
    .pg-home section ul {
      padding-top: 10px;
    }
  
  
    header{
      min-height: 0;
      padding: 0;
      text-align: center;
    }
    header nav {
      position: fixed;
      background: #000000c2;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      z-index: 999;
      transition: 1s;
    }
    header nav.openNavMenu{
      left: 0;
      transition: 1s;
    }
    header nav ul{
      text-align: left;
      padding-top: 30px;
    }
    header nav ul li {
      display: block;
      padding: 10px 0;
    }

  }
  @media(max-width:635px){
    .pg-home section ul li {
      max-width: 45.1%;
    }
  }
  @media(max-width:520px){
   .pg-home section ul li {
      max-width: 44.1%;
    }
  }
  @media(max-width:447px){
   .pg-home section ul li {
     max-width: 100%;
     margin: 10px 0;
    }
  }